services:
  mongodb:
    build:
      context: ..
      dockerfile: docker/Dockerfile.mongo
    environment:
      MONGO_INITDB_DATABASE: grantbot
    ports:
      - "27017:27017"

  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile.api
    depends_on:
      - mongodb
    env_file:
      - ../.env
    ports:
      - "8000:8000"
